@Html.BeginForm("Index", "Report", FormMethod.Post)
{
<span> C :</span>
<input type="date" name="startDate" />
<span> По : </span>
<input type="date" name="endDate" />
<input type="submit" value="Поиск по" />
}
