@model MvcStudy.Models.ReportModel

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.Partial("Search")
</p>

<table class="table">
    <tr>
        <th>
           Созданные папки за указанный период
        </th>
        <th>
            Созданные документы за указанный период
        </th>
        <th>
            Все созданные  файлы за указанный период
        </th>
        <th></th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => model.AllFolders)
        </th>
        <th>
            @Html.DisplayFor(model => model.AllDocuments)
        </th>
        <th>
            @Html.DisplayFor(model => model.AllFilesAdded)
        </th>
        <th></th>
    </tr>


</table>


